# output folders
_Debug/
Compiled/

# temp and backup files
Game.agf.bak
Game.agf.user
backup_acsprset.spr
_OpenInEditor.lock

# Room user files
*.crm.user

# Sphinx Documentation folders
doc/_build
doc/_static
doc/_templates